button {
  color: #fff;
  background-color: #6abc3a;
  padding: 10px 30px 7px 30px;
  margin: 10px;
  font-size: 25px;
  /* font-family: "m6x11"; */
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,
    0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038,
    inset 0px 5px #ffffff36;
  cursor: pointer;
}
button:active {
  transform: translateY(5px);
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,
    inset 0px 5px #00000038;
}


.right-card{
  color: #fff;
  background-color:  #3a5055;
  padding: 10px 30px 7px 30px;
  margin: 10px;
  font-size: 25px;
  font-family: "m6x11";
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,
    0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038,
    inset 0px 5px #ffffff36;
}
