@import "tailwindcss";
@import "@fontsource/press-start-2p";


@theme{
  --color-mint-500: oklch(0.72 0.11 178);
}

@font-face {
  font-family: 'm6x11';
  src: url('/public/m6x11.ttf') format('truetype');
  font-display: swap;
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */



/* body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  width: auto;
  min-height: 100vh;
} */


