@import "tailwindcss";
@import "@fontsource/press-start-2p";


@theme{
  --color-mint-500: oklch(0.72 0.11 178);
}

@font-face {
  font-family: 'm6x11';
  src: url('/public/m6x11.ttf') format('truetype');
  font-display: swap;
}

 :root {
  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
} 



/* body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  width: auto;
  min-height: 100vh;
} */


